html{
    font-size: 90%;
    line-height: 1.8;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.haikei {
    padding: 30px;
    width: 500px;
    background: rgba(255, 255, 255, 0.5);
    color: black;
}
a:link{
    text-decoration: none;
}
input[type=text],
input[type=email],
input[type=password],
textarea{
    width: 360px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #cacaca;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

header{
    background: #fafafa;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header .brand{
    display:block;
    font-size: 1.3rem;
}

mamaiko{
    position: relative;
}

.navigation{ 
    position: absolute;
    left: 75%;
    bottom: 30%;
    display: flex;
    margin: 0px;
    padding: 0;
    list-style: none;
}

.navigation li{
    padding: 0 20px;
}

table.table{
    border-collapse: collapse;
}
table.table thead{
    background: #f1f1f1;
    font-weight: bold;
}
table.table th,
table.table td{
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

dt{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: .9rem;
}
dd{
    margin-bottom: 15px;
}

ul.pagination{
    padding: 0px;
    list-style: none;
}
li.page-item{
    display: inline-block;
    padding: 8px;
}
a:link {
    /* color:rgba(8, 90, 86, 0.76); */
    font-weight:bold;
}
